[Unit]
Description=Service de noeud d'une MilleGrille.

[Service]
Type=simple
PIDFile=/var/run/millegrilles/mg-rpi.pid
ExecStart=/opt/millegrilles/bin/mgraspberrypi.sh ${IDMG} nofork
# ExecStop=/opt/millegrilles/bin/noeud.sh stop
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target