[Unit]
Description=Service de noeud d'une MilleGrille.

[Service]
Type=simple
PIDFile=/run/mg-noeud.pid
ExecStart=/opt/millegrilles/bin/mgraspberrypi.sh ${IDMG} nofork
ExecStop=/opt/millegrilles/bin/mgraspberrypi.sh ${IDMG} stop
Restart=on-failure
RestartSec=180s
SyslogIdentifier=millegrillesrpi

[Install]
WantedBy=multi-user.target
