HOME            = ../etc
RANDFILE        = $ENV::HOME/.rnd
IDMG            = $ENV::IDMG
NOM_NOEUD       = $ENV::NOM_NOEUD
URL_PUBLIC      = $ENV::URL_PUBLIC
base_dir        = .

####################################################################
[ req ]
# prompt             = no
default_bits       = 2048
default_keyfile    = noeud.key.pem
distinguished_name = ca_distinguished_name
x509_extensions    = ca_extensions
string_mask        = utf8only

####################################################################
[ ca_distinguished_name ]
organizationName            = Organization Name (eg, company)
organizationName_default    = MilleGrilles

organizationalUnitName         = Organizational Unit (eg, division)
organizationalUnitName_default = SSRoot

commonName         = Common Name (e.g. server FQDN or YOUR name)
commonName_default = ssroot.millegrilles.com

emailAddress         = Email Address
emailAddress_default = ssroot@millegrilles.com

####################################################################
[ ca_extensions ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer
basicConstraints       = critical, CA:TRUE
keyUsage               = keyCertSign, cRLSign

[ ca_signing_policy ]
organizationName = supplied
organizationalUnitName = supplied
commonName = supplied
emailAddress = optional

[ ca_signing_req ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
basicConstraints       = CA:TRUE
keyUsage               = keyCertSign, cRLSign

####################################################################
[ noeud_signing_policy ]
organizationName = supplied
organizationalUnitName = supplied
commonName = supplied

[ noeud_req_extensions ]
subjectKeyIdentifier   = hash
# authorityKeyIdentifier = keyid,issuer
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment
subjectAltName         = @noeud_alts

[ noeud_req_public_extensions ]
subjectAltName         = @noeud_alts

[ noeud_alts ]
# Section swarm docker (sans suffixe)
DNS.1  = $NOM_NOEUD.local
DNS.2  = $URL_PUBLIC

